<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://aframe.io/releases/1.4.2/aframe.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/mind-ar@1.2.2/dist/mindar-face-aframe.prod.js"></script>
  <style>
    body {
      margin: 0;
    }

    .container {
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .options-panel {
      position: fixed;
      left: 10px;
      top: 10px;
      z-index: 2;
      background-color: antiquewhite;
      width: 30%;
      border: 2px solid #000000;
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="options-panel">
      <ul>
        {% for content in form_list %}
        <li class="list{{content.index}}" id="list{{content.index}}" style="color: grey; cursor: pointer;">
          {{content.nickname}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <a-scene mindar-face embedded color-space="sRGB" renderer="colorManagement: true, physicallyCorrectLights"
    vr-mode-ui="enabled: false" device-orientation-permission-ui="enabled: false">
    <a-assets>
      <a-asset-item id="headModel"
        src="https://cdn.jsdelivr.net/gh/hiukim/mind-ar-js@1.2.2/examples/face-tracking/assets/sparkar/headOccluder.glb"></a-asset-item>
      {% for content in form_list %}
      <a-asset-item id="item{{content.index}}" src="media/{{content.image}}"></a-asset-item>
      {% endfor %}
    </a-assets>

    <a-camera active="false" position="0 0 0"></a-camera>

    <a-entity mindar-face-target="anchorIndex: 168">
      <a-gltf-model mindar-face-occluder position="0 -0.3 0.15" rotation="0 0 0" scale="0.065 0.065 0.065"
        src="#headModel"></a-gltf-model>
    </a-entity>
    {% for content in form_list %}
    <a-entity mindar-face-target="anchorIndex: {{content.anchor}}">
      <a-gltf-model rotation="{{content.rotateX}} {{content.rotateY}} {{content.rotateZ}}"
        position="{{content.positionX}} {{content.positionY}} {{content.positionZ}}"
        scale="{{content.scale}} {{content.scale}} {{content.scale}}" src="#item{{content.index}}"
        id="entity{{content.index}}" visible="false"></a-gltf-model>
    </a-entity>
    {% endfor %}
  </a-scene>

  <script>

    const list = [false, false, false, false, false];

    document.querySelector('#list0').addEventListener('click', function () {
      var entity = document.getElementById('entity0');
      var list = document.getElementById('list0');
      changeView(entity, list, 0);
    })

    document.querySelector('#list1').addEventListener('click', function () {
      var entity = document.getElementById('entity1');
      var list = document.getElementById('list1');
      changeView(entity, list, 1);
    })

    document.querySelector('#list2').addEventListener('click', function () {
      var entity = document.getElementById('entity2');
      var list = document.getElementById('list2');
      changeView(entity, list, 2);
    })

    document.querySelector('#list3').addEventListener('click', function () {
      var entity = document.getElementById('entity3');
      var list = document.getElementById('list3');
      changeView(entity, list, 3);
    })

    document.querySelector('#list4').addEventListener('click', function () {
      var entity = document.getElementById('entity4');
      var list = document.getElementById('list4');
      changeView(entity, list, 4);
    })

    function changeView(entity, list, i) {
      if (list[i]) {
        entity.setAttribute("visible", false);
        list.style.color = "grey"
        list[i] = false
      }
      else {
        entity.setAttribute("visible", true);
        list.style.color = "green"
        list[i] = true
      }
    }
  </script>
</body>

</html>
