{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'WebAR/css/style.css' %}" />
  <script src='../../static/WebAR/js/threex-arpatternfile.js'></script>
  <script>
    window.addEventListener('pageshow', () => {
      if (window.performance.navigation.type == 2) location.reload();
    });
  </script>
</head>

<body>

  <nav class="navbar m-3 w-80 rounded-3 shadow navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="./markerbase">
        <h2>WebAR</h2>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #ff1493;">Marker Based</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./locationbase">Location Based</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./face">Face Tracking</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Setting
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./add">Add images</a></li>
              <li><a class="dropdown-item" href="./delete">Delete images</a></li>
            </ul>
          </li>
        </ul>

        <p style="color: white; margin-right: 20px; margin-top: 13px;">user : {{username}}</p>

        <div>
          <a type="button" class="logout-button" href="../logout">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
              class="mt-1 bi bi-box-arrow-right" viewBox="0 0 16 16" color="#ff1493">
              <path fill-rule="evenodd"
                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
              <path fill-rule="evenodd"
                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
            </svg>
            <p style="color: white; margin-left: 5px;"> Logout</p>
          </a>
        </div>

      </div>
    </div>
  </nav>

  {% for message in messages %}
  {% if message.tags %}
  <div class="{{ message.tags }} m-3 w-50 alert-dismissible fade show" role="alert" width="20">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="閉じる"></button>
    <strong>{{ message }}</strong>
  </div>
  {% endif %}
  {% endfor %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="flex_box">
      <div class="d-grid gap-3 m-3 w-50">

        <div class="card rounded-3 shadow">
          <div class="card-body">
            <h5 class="card-title text-dark">Step 1</h5>
            <p class="card-text text-secondary">Select a 3D image in your collections</p>
            {{form.image1 | add_class:"form-select form-control"}}
          </div>
        </div>

        <div class="card rounded-3 shadow">
          <div class="card-body">
            <h5 class="card-title text-dark">Step 2</h5>
            <p class="card-text text-secondary">Specify the scale of the 3D image to be displayed</p>
            <span id="scale_value">1</span> <input type="range" id="form-range" class="form-range range-cust" min="0"
              max="5" value="1" step="0.1" name="size">
          </div>
        </div>

        <div class="card rounded-3 shadow">
          <div class="card-body">
            <h5 class="card-title text-dark">Step 3</h5>
            <p class="card-text text-secondary">Upload the image you want to use as a marker. Then download the
              generated marker.</p>
            <input id="fileinput" type="file" class="form-control" name="file" style="margin-right: 20px"> <br>
            <button type="button" id='buttonDownloadFullImage' class="btn btn-primary">DOWNLOAD</button>
          </div>
        </div>

        <div class="card rounded-3 shadow">
          <div class="card-body">
            <h5 class="card-title text-dark">Step 4</h5>
            <p class="card-text text-secondary">Show your 3D image!</p>
            <input type="hidden" id="patt" name="patt" value="">
            <button type="submit" class="btn btn-primary">START</button>
          </div>
        </div>
      </div>
  </form>

  <div class="img-fluid w-40 h-50" style="position: relative; top: 150px; left: 100px;">
    <img src="../../static/WebAR/image/noimage.png" class="img-fluid" id="marker-image" alt="..." border="5px"
      style="width: 60%;">
    <p class="text-secondary" id="marker-image-status">You have not selected an image</p>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src='../../static/WebAR/js/mb_style.js'></script>

</body>
<style>
  .form-control:focus {
    border-color: #ff1493;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ff1493;
  }

  .range-cust::-webkit-slider-thumb {
    outline: none;
    background: #ff1493;
  }

  .range-cust::-moz-range-thumb {
    outline: none;
    background: #ff1493;
  }

  .range-cust::-ms-thumb {
    outline: none;
    background: #ff1493;
  }

  .range-cust::-ms-thumb {
    outline: none;
    background: #ff1493;
  }

</style>

</html>